/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(/assets/images/54029f82eda9a747f9c87d63ee87014f.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}
#game-name {
  position: fixed;
  top: 250px;
  margin-left: 500px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(135, 192, 213, 0.5);
  text-shadow: 0 0 10px #ff6ec4, 0 0 20px #7873f5, 0 0 30px #ff6ec4;
  z-index: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Game Container */
#traffic-racer-container {
  position: relative;
  width: 90%; /* Adjust to fit screen */
  max-width: 400px; /* Limit to maximum width */
  height: 650px;
  margin: 20px auto;
  background-color: #1b1b1b;
  border: 5px dotted rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

/* Game Area */
#racing-track {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Player Car */
#player-vehicle {
  position: absolute;
  bottom: 20px;
  left: 175px;
  width: 50px;
  height: 80px;
  background-color: rgba(214, 58, 219, 0.5);
  background-image: url(/assets/images/25622586c82df8208d074a677cfb80c2a440e5.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

#player-vehicle,
.obstacle {
  width: 10%; /* Adjust to track width */
  max-width: 50px;
  height: 15%; /* Adjust to track height */
  max-height: 80px;
  border-radius: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Obstacle */
.obstacle {
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: rgba(204, 99, 99, 0.5);
  background-image: url(/assets/images/red-car.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

/* Score Board */
#score-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  padding: 10px;
  background-color: black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #ff6ec4, 0 0 20px #7873f5, 0 0 30px #ff6ec4;
  border-radius: 5px;
}

/* Buttons in the menu */
#game-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#game-controls button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #f200ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

#game-controls button:hover {
  background-color: #7a0f6e;
}

/* Hide the game menu during play */
.hidden {
  display: none;
}
